/* MobileMenu.module.scss */
.menu {
  position: fixed;
  margin-top: 122px;
  inset: 0;
  background-color: var(--color-light);
  z-index: 900;
  color: black;
  transform: translateX(-100%);
  transition: transform 0.35s ease;

  // position: fixed;
  // top: 84px; // высота header.inner
  // left: 0;
  // right: 0;
  // bottom: 0;

  // background-color: var(--color-light);
  // z-index: 1000;

  // transform: translateX(-100%);
  // transition: transform 0.35s ease;
}

.open {
  transform: translateX(0);
}

.nav {
  padding: 44px 40px ;
  display: flex;
  flex-direction: column;
  gap: 24px;
  a {
    font-size: 22px;
  }
}

.account {
  margin-top: auto;
  padding: 0 40px ;
  
}
