// Filters.module.scss

.filters {
  width: 280px;
  flex-shrink: 0;
  
  @include mobile {
    width: 100%;
    margin-bottom: 40px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  
  @include mobile {
    margin-bottom: 24px;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.clearButton {
  @include reset-button;
  
  color: var(--color-gray);
  font-size: 14px;
  text-decoration: underline;
  transition: color var(--transition-duration);
  
  @include hover {
    color: var(--color-dark);
  }
}

.categories {
  & > * + * {
    margin-top: 32px;
    
    @include mobile {
      margin-top: 24px;
    }
  }
}