/* PromoBar.module.scss */
.promo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-brand);
    color: var(--color-dark);
    height: 38px;
    font-size: 14px;
    padding: 10px;
}