.root {
  min-height: 800px;
  display: flex;
  align-items: center;
    margin-top: -84px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: var(--color-light);

  @include mobile {
    min-height: 420px;
  }
}

.content {
  max-width: 520px;
}

.title {
  margin-bottom: 16px;
}

.description {
  color: var(--color-gray-alt);
  font-size: 15px;
}
