footer{
 background-color: var(--color-brand);
}

.footer{
  display: flex;
  padding: 100px 90px 0 90px;
  gap: 40px;
  justify-content: space-between;
 
  @include tablet{
    padding: 50px 35px 0 35px;
  }

  @include mobile{
    flex-direction: column;
    padding: 50px 20px 0 20px;
  }
}





